<%= simple_form_for [:admin, @order] do |f| %>
    <%= f.input :valide %>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" value="<%= current_user.email %>" readonly>
    </div>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :tel %>
    <%= f.input :adresse %>
    <%= f.button :submit, "Modifer la commande" , class: "btn btn-primary" %>
<% end %>