 <% provide(:titre , "about") %>

 <section class="page-title imgBack">
        <div class="auto-container">
        <% if params[:p].present? && params[:p] == "notre-equipe" %>
            <h1>Notre équipe</h1>
        <% elsif params[:p].present? && params[:p] == "nos-missions-et-visions" %>
            <h1>Nos missions &amp; visions</h1>
        <% elsif params[:p].present? && params[:p] == "nos-valeurs" %>
            <h1>Nos valeurs</h1>
        <% else %>
            <h1>À propos de nous</h1>
        <% end %>
            
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->


 <!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay monentete"></div>
	<!-- /Backgound Image -->

	

</div>
<!-- /Hero-area -->
<br>




<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Sidebar Side-->
                <div class="sidebar-side no-border col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar default-sidebar">
						
                        <!-- Sidebar Category -->
                        <div class="sidebar-widget sidebar-category">
                            <ul class="list">
                                <li class="<%= "current" if params[:p] == "a-propos-de-nous" || !params[:p].present? %>"><a href="<%= apropos_path(p: "a-propos-de-nous") %>">À propos de nous</a></li>
                                <li class="<%= "current" if params[:p] == "notre-equipe" %>"><a href="<%= apropos_path(p: "notre-equipe") %>">Notre équipe</a></li>
                                <li class="<%= "current" if params[:p] == "nos-missions-et-visions" %>"><a href="<%= apropos_path(p: "nos-missions-et-visions") %>">Nos missions &amp; visions</a></li>
                                <li class="<%= "current" if params[:p] == "nos-valeurs" %>"><a href="<%= apropos_path(p: "nos-valeurs") %>">Nos valeurs</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
					<!--Services Single One-->
                    <% if params[:p].present? && params[:p] == "notre-equipe" %>
                        <%= render "pages/about/equipe" %>
                    <% elsif params[:p].present? && params[:p] == "nos-missions-et-visions" %>
                        <%= render "pages/about/missions" %>
                    <% elsif params[:p].present? && params[:p] == "nos-valeurs" %>
                        <%= render "pages/about/valeurs" %>
                    <% else %>
                        <%= render "pages/about/about" %>
                    <% end %>
                </div>
                
            </div>
        </div>
    </div>

