 <% provide(:titre , "formations") %>

  <section class="page-title imgBack">
        <div class="auto-container">
            <h1>NOS FORMATION</h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->


 <!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay monentete"></div>
	<!-- /Backgound Image -->

	

</div>
<!-- /Hero-area -->
<br>
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="shop-section">
                    	
                       
                        
                        <div class="row clearfix">
                        
                            <!--Shop Item-->
                             <% @formations.each do |formation| %>
                                <div class="shop-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="inner-box">
                                        <div class="image">
                                           <%= image_tag formation.image.url(:medium) %>
                                            <div class="overlay-box">
                                                <ul class="cart-option">
                                                    <li><a href="<%= formation_path(formation.id) %>"><span class="fa fa-shopping-bag"></span></a><span class="tooltip-data">Commander</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <h3><a href="<%= formation_path(formation.id) %>"></a><%= truncate(formation.title, length: 40) %></a></h3>
                                                </div>
                                                <div class="pull-right">
                                                    
                                                </div>
                                            </div>
                                            <div class="price"><span class="icon fa fa-calendar"> </span> <%= formation.created_at.strftime("%d - %m - %Y") %></div>
                                        </div>
                                    </div>
                                </div>
                             <% end %>
                        </div>
                    </div>
                    
                    <!--Styled Pagination-->
                   
                    <div class="styled-pagination text-center">
                     <%= paginate @formations %>
                    </div>
                    <!--End Styled Pagination-->
                    
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar default-sidebar with-border">
					
                    	<!-- Search -->
                         <div class="sidebar-widget search-box">
                        	<%= form_tag formations_path, :method => 'get' do %>
                                <div class="form-group">
                                    <% if params[:search].present? %>
                                        <%= text_field_tag :search,nil, class:"input", value:"#{params[:search]}" %>
                                    <% else %>
                                        <%= text_field_tag :search,nil, class:"input", placeholder:"Trouvez une formation ... " %>
                                    <% end %>
                                    <%= button_tag fa_icon "search" %>
                                </div>
                            <% end %>
						</div>
                    
                    	<!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="blog-cat">
                                <li class="current"><a href="<%= formations_path %>">Toutes les formations <span> (<%= @formations.size %>) </span></a></li>
                                <% @categories.each do |category| %>
                                    <li><a href="<%= formations_path(categorie: category.id) %>"><%= category.title %> 
                                        <span>(<%= category.formations_count.present? ? category.formations_count : 0 %>)</span></a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    
                    	<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>Formations populaires</h2></div>
                            <% @topformations.each do |topformation| %>
                            <article class="post">
                            	<figure class="post-thumb"><%= image_tag(topformation.image.url(:thumb), alt: "") %><a class="overlay" href="<%= formation_path(topformation.id) %>"></a></figure>
                                <div class="text"><a href="<%= formation_path(topformation.id) %>"><%= truncate(topformation.title, length: 40) %></a></div>
                                <div class="post-info"><%= topformation.created_at.strftime("%d - %m - %Y") %></div>
                            </article>
                            <% end %>
						</div>
                    	
                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Mots clés</h2></div>
                                <div id="tag_cloud">
                                    <% tag_cloud Formation.tag_counts, %w[s m l] do |tag, css_class| %>
                                        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                                    <% end %>
                                </div>
                        </div>
                        
                    </aside>
                </div>
                <!--End Sidebar Side-->
         </div>
    </div>
</div>
