 <% provide(:titre , "accueil") %>

<!--Main Slider-->


    <section class="main-slider">
        
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    
                    <%= image_tag("AccompagnementSlider.jpg", alt: "", class: "rev-slidebg")%>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','650','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-90','-100','-100','-85']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h2> <br>  <br> Accompagnement</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['50','35','25','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text">Nos et métiers au service de votre excellence</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','130','130','110']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <a href="about.html" class="theme-btn btn-style-one">Découvrir</a> &ensp; <a href="<%= contact_path %>" class="theme-btn btn-style-two">Contact</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <%= image_tag("CollectivitesSlider.jpg", alt: "", class: "rev-slidebg")%>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-90','-100','-100','-85']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h2> <br>  <br> Collectivités territoriales</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['50','35','25','10']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text">Nous expertises au service de vos processus d’émergence</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['145','130','130','110']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <a href="about.html" class="theme-btn btn-style-one">Découvrir</a> &ensp; <a href="<%= contact_path %>" class="theme-btn btn-style-two">Contact</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        <%= image_tag("FormationsSlider.jpg", alt: "", class: "rev-slidebg")%>

                     
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['700','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['-100','-100','-100','-85']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <h2><br> Formation et développement <br> des capacités</h2> 
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['40','35','25','10']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <div class="text">Notre centre Positive Impact s’occupe de vos projets de formation </div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','700','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['135','130','130','110']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                        <a href="about.html" class="theme-btn btn-style-one">Découvrir</a> &ensp; <a href="<%= contact_path %>" class="theme-btn btn-style-two">Contact</a>
                    </div>
                    
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->



<!--Services Section-->
<section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
        <!-- <div class="sec-title centered">  -->
            <!-- <h2>Bienvenue à Novitas Consulting</h2>
            <div class="separator"></div>
            <div class="text">Nous sommes un cabinet spécialisé dans les métiers de conseil, de formation et d'audit,s'il vous plaît trouver nos services.</div> -->
        <!-- </div> -->
        <!-- <div class="row clearfix">  -->
            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-line-graph"></span></div> -->
                        <%= image_tag("NousConnaitreAcceuil.jpeg", alt: "") %>
                        
                    </div>
                    <div class="lower-box">
                        <h3>Nous connaitre</h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nous connaitre</a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-settings"></span></div> -->
                        <%= image_tag("NosexpertisesAcceuil.jpg", alt: "") %>
                        
                    </div>
                    <div class="lower-box">
                        <h3>Nos expertises</h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nos expertises</a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

                <!--Services Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div>
                        <!-- <div class="icon-tag"><span class="icon flaticon-settings"></span></div> -->
                        <%= image_tag("PositiveImpactAcceuil.png", alt: "", class: "image" ) %>
                       
                    </div>
                    <div class="lower-box">
                        <h3> Positive Impact </h3>
                        <div class="hover-title">
                            <h4><a href="#"></a>Positive Impact </h4>
                            <a class="arrow-box" href="<%= contact_path %>"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block-->
            
            
        </div>
    </div>
</section>
<!--End Services Section-->



 <!--Choose Section-->
<div class="clearfix"></div>
<section class="choose-section indexfond2" >
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-column col-md-3 col-sm-12 col-xs-12">
                <!--Sec Title-->
                <div class="sec-title light">
                    <h2>DERNIERES FORMATIONS</h2>
                    <div class="separator"></div>
                </div>
                <div class="text">
                    <p>Il y a une raison pour laquelle les gens choisissent Novitas Consulting pour leurs solutions d'affaires.</p>
                    <p>S'il vous plaît trouver notre formation unique</p>
                </div>
            </div>
            <div class="services-column col-md-9 col-sm-12 col-xs-12">
                
                <div class="three-item-carousel owl-carousel owl-theme">
                    <!--Services Block Two-->
                        <% @formations.each do |formation| %>
                        <div class="service-block-two">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="fa fa-thumbs-up"></span>
                                </div>
                                <div class="content">
                                    <h3><a href="<%= formation_path(formation.id) %>"><%= truncate(formation.title, length: 40) %></a></h3>
                                    <div class="text"> <%= truncate(formation.objectifs, length: 60) %>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Choose Section-->


<!--Project Section-->
<section class="project-section">
    <div class="auto-container">
        <div class="sec-title clearfix">
            <div class="pull-left">
                <h2>Derniers Articles</h2>
                <div class="separator"></div>
            </div>
            <div class="pull-right">
                <a href="<%= articles_path %>" class="theme-btn btn-style-three">Voir tous les artciles</a>
            </div>
        </div>
        

        <div class="row clearfix">
            <!--News Block Two-->
            <% @articles.each do |article| %>
                <!--News Block Three-->
                <div class="news-block-two col-md-4 col-sm-4 col-xs-6">
                    <div class="inner-box">
                        <div class="image">
                            <%= image_tag article.image.url(:thumb) %>
                        </div>
                        <div class="lower-content">
                            <div class="post-date"><%= time_ago_in_words(article.created_at) %></div>
                            <h3><a href="<%= post_path(article.id) %>"><%= article.title %></a></h3>
                            <div class="text"><%= truncate(article.content, length: 400) %></div>
                            <a href="<%= post_path(article.id) %>" class="read-more">Lire la suite</a>
                        </div>
                    </div>
                </div>
            <% end %>
         </div>
    </div>
</section>
<!--End Project Section-->
