
<!--Main Slider-->
<section class="main-slider">
    
    <div class="rev_slider_wrapper fullwidthbanner-container indexentete"  id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <div class="entettext">
                
                 <div class="tp-caption">
                    <h2>Triumph helps you <br> to save time and <br> money.</h2>
                </div>
                
                <div class="tp-caption">
                    <div class="text">Triumph business theme continues to grow every day <br> thanks to the confidence.</div>
                </div>
                
                <div class="tp-caption tp-resizeme">
                    <a href="<%= apropos_path %>" class="theme-btn btn-style-one">Nous Connaitre</a> &ensp; 
                    <a href="<%= contact_path %>" class="theme-btn btn-style-two">Contacter nous</a>
                </div>
                
                </li>
    
            </div>
            
        </div>
    </div>
</section>
<!--End Main Slider-->


<!--Services Section-->
<section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
        <!-- <div class="sec-title centered">  -->
            <!-- <h2>Bienvenue à Novitas Consulting</h2>
            <div class="separator"></div>
            <div class="text">Nous sommes un cabinet spécialisé dans les métiers de conseil, de formation et d'audit,s'il vous plaît trouver nos services.</div> -->
        <!-- </div> -->
        <!-- <div class="row clearfix">  -->
            <!--Services Block-->
            <div class="services-block col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-line-graph"></span></div> -->
                        <%= image_tag("course01.jpg", alt: "") %>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3>Nous connaitre</h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nous connaitre</a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-settings"></span></div> -->
                        <%= image_tag("course02.jpg", alt: "") %>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3>Nos expertises</h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nos expertises</a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

                <!--Services Block-->
            <div class="services-block col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-settings"></span></div> -->
                        <%= image_tag("course03.jpg", alt: "") %>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3> Nos formations </h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nos formations </a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services Block-->
            <div class="services-block col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <!-- <div class="icon-tag"><span class="icon flaticon-trophy-1"></span></div> -->
                        <%= image_tag("course04.jpg", alt: "") %>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-box">
                        <h3>Nous contacter</h3>
                        <div class="hover-title">
                            <h4><a href="services-single-1.php">Nous contacter</a></h4>
                            <a class="arrow-box" href="services-single-1.php"><span class="arrow fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Services Section-->



 <!--Choose Section-->
<div class="clearfix"></div>
<section class="choose-section indexfond2" >
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-column col-md-3 col-sm-12 col-xs-12">
                <!--Sec Title-->
                <div class="sec-title light">
                    <h2>DERNIERES FORMATIONS</h2>
                    <div class="separator"></div>
                </div>
                <div class="text">
                    <p>Il y a une raison pour laquelle les gens choisissent Novitas Consulting pour leurs solutions d'affaires.</p>
                    <p>S'il vous plaît trouver notre formation unique</p>
                </div>
            </div>
            <div class="services-column col-md-9 col-sm-12 col-xs-12">
                
                <div class="three-item-carousel owl-carousel owl-theme">
                    <!--Services Block Two-->
                        <% @formations.each do |formation| %>
                        <div class="service-block-two">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="fa fa-thumbs-up"></span>
                                </div>
                                <div class="content">
                                    <h3><a href="<%= formation_path(formation.id) %>"><%= truncate(formation.title, length: 40) %></a></h3>
                                    <div class="text"> <%= truncate(formation.objectifs, length: 60) %>
                                    </div>
                                </div>
                            </div>
                        </div>           
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Choose Section-->


<!--Project Section-->
<section class="project-section">
    <div class="auto-container">
        <div class="sec-title clearfix">
            <div class="pull-left">
                <h2>Derniers Articles</h2>
                <div class="separator"></div>
            </div>
            <div class="pull-right">
                <a href="<%= articles_path %>" class="theme-btn btn-style-three">Voir tous les artciles</a>
            </div>
        </div>
        

        <div class="row clearfix">
            <!--News Block Two-->
            <% @articles.each do |article| %>
                <!--News Block Three-->
                <div class="news-block-two col-md-4 col-sm-4 col-xs-6">
                    <div class="inner-box">
                        <div class="image">
                            <%= image_tag article.image.url(:thumb) %>
                        </div>
                        <div class="lower-content">
                            <div class="post-date"><%= time_ago_in_words(article.created_at) %></div>
                            <h3><a href="<%= post_path(article.id) %>"><%= article.title %></a></h3>
                            <div class="text"><%= truncate(article.content, length: 400) %></div>
                            <a href="<%= post_path(article.id) %>" class="read-more">Lire la suite</a>
                        </div>
                    </div>
                </div>
            <% end %>
         </div>
    </div>
</section>
<!--End Project Section-->
