 <% provide(:titre , "formations") %>

  <section class="page-title imgBack">
        <div class="auto-container">
            <h1>DETAILS DE LA FORMATION </h1>
        </div>
        <!--Page Info-->
        <div class="page-info">
            <div class="auto-container clearfix">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <!--End Page Info-->
    </section>
    <!--End Page Title-->


 <!-- Hero-area -->
<div class="hero-area section">

	<!-- Backgound Image -->
	<div class="bg-image bg-parallax overlay monentete"></div>
	<!-- /Backgound Image -->

	

</div>
<!-- /Hero-area -->
<br>
    
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="shop-single">
                <div class="product-details">

                    <!--Basic Details-->
                    <div class="basic-details">
                        <div class="row clearfix">
                            <div class="row">
                            <%= image_tag @formation.image.url(:medium) %>
                                <div class="details-header" style="
                                        position: relative;margin-bottom: 40px;margin-top: 35px;">
                                        
                                    <h4 style="color: #137879;font-size: 36px !important;">
                                        <%= @formation.title %> </h4>
                                </div>

                                <div class="sec-title small with-sep">
                                    <h2 class="main-color-one">
                                        <i class="fa fa-dot-circle-o main-color-one"></i>
                                        Objectifs
                                    </h2>
                                </div>

                                <div class="text">
                                    <p class="" style="">
                                        <%= @formation.objectifs.html_safe %>
                                        <br>
                                    </p>
                                </div>

                                <div class="sec-title small with-sep">
                                    <h2 class="main-color-one">
                                        <i class="fa fa-check-circle-o main-color-one"></i>
                                        Prérequis
                                    </h2>
                                </div>
                                <div class="text">
                                    <p>
                                        <%= @formation.prerequis %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Basic Details-->

                    <!--Product Info Tabs-->
                    <div class="product-info-tabs">
                        <!--Product Tabs-->
                        <div class="prod-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-programme" class="tab-btn active-btn">
                                    <i class="fa fa-list main-color-one"></i> Programme</li>
                                <li data-tab="#prod-intervenants" class="tab-btn">
                                    <i class="fa fa-user main-color-one"></i> Intervenants</li>
                                <li data-tab="#prod-publique" class="tab-btn">
                                    <i class="fa fa-users main-color-one"></i> Public concerné</li>
                                <li data-tab="#prod-offert" class="tab-btn">
                                    <i class="fa fa-plus-circle main-color-one"></i> Les plus</li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-programme">
                                    <div class="content">
                                        <p>
                                            <%= @formation.programme %>
                                                
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="tab" id="prod-intervenants">
                                    <div class="content">
                                        <p>
                                            <%= @formation.intervenants %>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="tab" id="prod-publique">
                                    <div class="content">
                                        <p>
                                            <%= @formation.public_concerne %>
                                            <br>
                                        </p>
                                    </div>
                                </div>

                                <div class="tab" id="prod-offert">
                                    <div class="content">
                                        <%= @formation.les_plus %>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <!--End Product Info Tabs-->

                    <!--Basic Details-->
                    <div class="basic-details">
                        <div class="row clearfix">
                            <div class="">
                                <br>
                                <div class="sec-title small with-sep">
                                    <h2 class="main-color-one">
                                        <!--<i class="fa fa-certificate main-color-one"></i>-->
                                        <i class="icon-medal main-color-one"></i>
                                        Certification
                                    </h2>
                                </div>

                                <div class="text">
                                    <%= @formation.certifications %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="basic-details">
                        <div class="row clearfix">
                            <div class="">
                                <br>
                                <div class="sec-title small with-sep">
                                    <h2 class="main-color-one">
                                        <!--<i class="fa fa-certificate main-color-one"></i>-->
                                        <i class="icon-medal main-color-one"></i>
                                        Conditions Generales des formations
                                    </h2>
                                </div>

                                <div class="text">
                                    <%= @formation.cgf %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Basic Details-->
                </div>
            </div>
            </div>
            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar default-sidebar with-border">
                <!--Details Formation-->
                
                    <!-- Search -->
                        <div class="sidebar-widget search-box">
                        <%= form_tag formations_path, :method => 'get' do %>
                            <div class="form-group">
                                <% if params[:search].present? %>
                                    <%= text_field_tag :search,nil, class:"input", value:"#{params[:search]}" %>
                                <% else %>
                                    <%= text_field_tag :search,nil, class:"input", placeholder:"Trouvez une formation ... " %>
                                <% end %>
                                <%= button_tag fa_icon "search" %>
                            </div>
                        <% end %>
                    </div>





                            <table class="table table-bordered custom-table">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">
                                        <i class="fa fa-key main-color-one"></i>
                                        <b>Code</b>
                                    </td>
                                    <td>
                                        <%= @formation.code %> </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered custom-table">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">
                                        <i class="fa fa-map-marker main-color-one"></i>
                                        <b>Lieu</b>
                                    </td>
                                    <td>
                                        <%= @formation.lieu %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered custom-table">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">
                                        <i class="fa fa-clock-o main-color-one"></i>
                                        <b>durèe</b>
                                    </td>
                                    <td>
                                        <%= @formation.duree %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered custom-table">
                            <tbody>
                                <tr>
                                    <td style="width:  40%">
                                        <i class="fa fa-cube main-color-one"></i>
                                        <b>Volume</b>
                                    </td>
                                    <td>
                                        <%= @formation.volume %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered custom-table">
                            <tbody>
                                <tr>
                                    <td style="width: 40%">
                                        <i class="fa fa-credit-card-alt main-color-one"></i>
                                        <b>Tarif</b>
                                    </td>
                                    <td>
                                        <%= @formation.tarif %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <a href="<%= new_formation_order_path(@formation) %>" class="theme-btn btn-style-one" style="width: 100%; text-align:center;">Commander</a>
                                    
                        </p>
                    <table class="table table-bordered custom-table">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <span class="text-center">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-file main-color-one"></i> <b>Demander un devis</b>
                                    </span>
                                </td>
                            </tr>
                            <tr class="main-bg-color-two">
                                <td class="text-center" style=";color:white; font-weight: bold">
                                    <a href="/formations/demande-de-devis/20-PEPARATION-A-LA-CERTIFICATION-SAP-FINANCE.html?type=inter" class="static-link">
                                        Inter
                                    </a>
                                </td>
                                <td class="text-center" style=";color:white; font-weight: bold">
                                    <a href="/formations/demande-de-devis/20-PEPARATION-A-LA-CERTIFICATION-SAP-FINANCE.html?type=intra" class="static-link">
                                        Intra
                                    </a>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                    <table class="table table-bordered custom-table">
                        <tbody>
                            
                            <tr>
                                <td class="" style="">
                                    <i class="fa fa-share-alt main-color-one"></i> <b>Partager</b>
                                </td>
                            </tr> 
                            <tr>
                                <td> 
                                <ul class="social-icon-three">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </li>
                                </ul>  
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered custom-table">
                        <tbody> 
                            <tr class="">
                                <td class="text-center" style="">
                                    <a href="/uploads/formations/20/formulaire_inscription.pdf" style="color:#777777" title="Télécharger le bulletin d'inscription à remplir et nous envoyer">
                                        <b>Télécharger le bulletin d'inscription</b>
                                    </a>
                                </td> 
                            </tr> 
                        </tbody>
                    </table>
                    <!--Details Formation-->




                
                    <!--Blog Category Widget-->
                    <div class="sidebar-widget sidebar-blog-category">
                        <div class="sidebar-title">
                            <h2>Categories</h2>
                        </div>
                        <ul class="blog-cat">
                            <li><a href="<%= formations_path %>">Toutes les formations <span> (<%= @nbrformation %>) </span></a></li>
                            <% @categories.each do |category| %>
                                <li><a href="<%= formations_path(categorie: category.id) %>"><%= category.title %> 
                                    <span>(<%= category.formations_count.present? ? category.formations_count : 0 %>)</span></a>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                
                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title"><h2>Formations populaires</h2></div>
                        <% @topformations.each do |topformation| %>
                        <article class="post">
                            <figure class="post-thumb"><%= image_tag(topformation.image.url(:thumb), alt: "") %><a class="overlay" href="<%= formation_path(topformation.id) %>"></a></figure>
                            <div class="text"><a href="<%= formation_path(topformation.id) %>"><%= truncate(topformation.title, length: 40) %></a></div>
                            <div class="post-info"><%= topformation.created_at.strftime("%d - %m - %Y") %></div>
                        </article>
                        <% end %>
                    </div>
                    
                    <!-- Popular Tags -->
                    <div class="sidebar-widget popular-tags">
                        <div class="sidebar-title"><h2>Mots clés</h2></div>
                            <div id="tag_cloud">
                                <% tag_cloud Formation.tag_counts, %w[s m l] do |tag, css_class| %>
                                    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                                <% end %>
                            </div>
                    </div>
                    
                </aside>
            </div>
            <!--End Sidebar Side-->
        </div>
    </div>
