
    
    <!--Services Page Section-->
    <section class="services-page-section">
        <div class="auto-container">
            
            <div class="row clearfix ">
            
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-line-graph"></span></div>
                            
                            <%= image_tag("Consulting.jpg", alt: "")%>
                            
                        </div>
                        <div class="lower-box">
                            <br>
                            <h3>Consulting</h3>
                            <div class="hover-title">
                                
                                <h4><a href="<%= expertise_path(p: "consulting") %>">Consulting</a></h4>
                                <a class="arrow-box" href="<%= expertise_path(p: "consulting") %>"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-settings"></span></div>
                            <%= image_tag("finance.jpg", alt: "")%>
                            
                        </div>
                        <div class="lower-box">
                            <h3>Audit & Financial <br>advisory</h3>
                            <div class="hover-title">
                                <h4><a href="<%= expertise_path(p: "audit-financial") %>">Audit && Financial advisory</a></h4>
                                <a class="arrow-box" href="<%= expertise_path(p: "audit-financial") %>"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-trophy-1"></span></div>
                            <%= image_tag("RH.jpg", alt: "")%>
                            
                        </div>
                        <div class="lower-box">
                            <h3>Formation & RH Management</h3>
                            <div class="hover-title">
                                <h4><a href="<%= expertise_path(p: "formation-et-rh-management") %>">Formation & RH Management </a></h4>
                                <a class="arrow-box" href="<%= expertise_path(p: "formation-et-rh-management") %>"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <div class="icon-tag"><span class="icon flaticon-like"></span></div>
                            <%= image_tag("tax.jpg", alt: "")%>
                            
                        </div>
                        <div class="lower-box">
                            <br>
                            <h3>Tax & Legal</h3>
                            <div class="hover-title">

                                <h4><a href="<%= expertise_path(p: "tax-legal") %>">Tax & Legal</a></h4>
                                <a class="arrow-box" href="<%= expertise_path(p: "tax-legal") %>"><span class="arrow fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
