<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @carriere.nom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @carriere.email %>
</p>

<p>
  <strong>Sujet:</strong>
  <%= @carriere.sujet %>
</p>

<p>
  <strong>Message:</strong>
  <%= @carriere.message %>
</p>

<%= link_to 'Edit', edit_carriere_path(@carriere) %> |
<%= link_to 'Back', carrieres_path %>
