
<!--Main Footer-->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="auto-container">
    
        <div class="widgets-section">
            <div class="row clearfix">
            
                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <!--About Widget-->
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href=""><%= image_tag("logo.png", alt: "logo") %></a>
                        </div>
                        <div class="text">Créé en 2016 suite à l’alliance et la collaboration d’experts anciens collaborateurs de cabinets de référence de la place qui ont capitalisé une grande expertise dans les métiers de conseil, le cabinet Novitas Consulting est un cabinet spécialisé dans les métiers de conseil, de formation et d'audit selon un Business model innovant.</div>
                        <a href="<%= apropos_path %>" class="theme-btn btn-style-one">Plus sur nous</a>
                    </div>
                </div>
                
                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <!--About Widget-->
                    <div class="footer-widget links-widget">
                        <h2>Dernieres Formations</h2>
                        <div class="row clearfix">
                            <ul class="link-list col-md-12 col-sm-12 col-xs-12">
                                <% @formationsfooter.each do |formation| %>
                                    <li>
                                        <a href="<%= formation_path(formation.id) %>">
                                            <%= truncate(formation.title, length: 40) %>
                                        </a>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>  

                
            
                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <!--About Widget-->
                    <div class="footer-widget news-widget">
                        <h2>Derniers Articles</h2>

                        <% @articlesfooter.each do |post| %>

                            <div class="news-widget-block">
                                <div class="inner">
                                    <div class="imagepostfooter"><%= image_tag post.image.url(:thumb) %></div>
                                    <div class="post-date"><%= time_ago_in_words(post.created_at) %></div>
                                    <div class="text textfooter"><a href="<%= post_path(post.id) %>"> <%= truncate(post.title, length: 40) %></a></div>
                                </div>
                            </div>

                        <% end %>
                    </div>
                </div>
            
            </div>
        </div>
        
       
    
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="copyright">Copyrights &copy; 2018 Tous Droits Réservés. Développé Par <a href="/">InovaProWeb.</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer Bottom-->
    
</footer>
