
<!-- Main Header-->
<header class="main-header">

    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="clearfix">
                <div class="top-left">
                    <ul class="clearfix">
                        <li><a href="#">Téléchargements</a></li>
                        <li><a href="#"> Nous rejoindre</a></li>
                    </ul>
                </div>
                <div class="top-right clearfix">
                    <ul class="clearfix">
                        <li>
                            <div class="social-links">
                                <a href="#"><span class="fa fa-facebook-f"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                                <a href="#"><span class="fa fa-vimeo"></span></a>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">
                
                <div class="pull-left logo-outer">
                    <div class="logo"><a href="<%= root_path %>"><%= image_tag("logo.png", alt: "logo") %></a></div>
                </div>
                
                <div class="pull-right upper-right clearfix">
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "mobile" %></span></div>
                        <ul>
                            <li><strong>Call Us</strong>+123-456-7890 & 23</li>
                        </ul>
                    </div>
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "envelope-o" %> </span></div>
                        <ul>
                            <li><strong>Email at</strong>Support@Triumph.com</li>
                        </ul>
                    </div>
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "clock-o" %></span></div>
                        <ul>
                            <li><strong>Office Hrs</strong>Mon - Sat: 9.00am to 18.00pm</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Header Lower-->
    <div class="header-lower">
        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current" ><a href="<%= root_path %>">Accueil</a></li>
                            <li class="dropdown"><a href="#">Nous connaître</a>
                                <ul>
                                    <li><a href="<%= apropos_path %>">À propos de nous</a></li>
                                    <li><a href="<%= apropos_path %>">Rencontrez notre équipe</a></li>
                                    <li><a href="<%= apropos_path %>">Nos mission &amp; vision</a></li>
                                    <li><a href="<%= apropos_path %>">Nos valeurs</a></li>
                                </ul>
                            </li>
                            <li><a href="<%= articles_path %>">Articles</a></li>
                            <li><a href="<%= formations_path %>">Formation</a></li>
                            <li class="dropdown"><a href="#">Nos expertises et métiers</a>
                                <ul>
                                    <li><a href="#">Nos expertises et métiers</a></li>
                                    <li><a href="#">Consulting</a></li>
                                    <li><a href="#">Audit &amp; Financial advisory</a></li>
                                    <li><a href="#">Formation &amp; RH Management Advisory</a></li>
                                    <li><a href="#">Tax &amp; Legal</a></li>
                                </ul>
                            </li>
                            <li><a href="<%= contact_path %>">Nous contacter</a></li>
                            <% if user_signed_in? %>
                                <% if current_user.admin %>
                                <li><a href="<%= admin_formations_path %>"><%= fa_icon "user" %> Admin</a></li>
                                <% else %>
                                    <li><a href="<%= edit_user_registration_path %>"><%= fa_icon "user" %> Profil</a></li>
                                <% end %>
                                <li><%= link_to (fa_icon "power-off"), destroy_user_session_path, method: :delete %></li>
                            <% else %>
                                <li><a href="<%= new_user_session_path %>"><%= fa_icon "user" %> Login</a></li>
                            <% end %>
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                
            </div>
        </div>
    </div>
    <!--End Header Lower-->
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="<%= root_path %>" class="img-responsive"><%= image_tag("logo.png", alt: "logo") %></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current" ><a href="<%= root_path %>">Accueil</a></li>
                            <li class="dropdown"><a href="#">Nous connaître</a>
                                <ul>
                                    <li><a href="<%= apropos_path %>">À propos de nous</a></li>
                                    <li><a href="<%= apropos_path %>">Rencontrez notre équipe</a></li>
                                    <li><a href="<%= apropos_path %>">Nos mission &amp; vision</a></li>
                                    <li><a href="<%= apropos_path %>">Nos valeurs</a></li>
                                </ul>
                            </li>
                            <li><a href="<%= articles_path %>">Articles</a></li>
                            <li><a href="<%= formations_path %>">Formation</a></li>
                            <li class="dropdown"><a href="#">Nos expertises et métiers</a>
                                <ul>
                                    <li><a href="#">Nos expertises et métiers</a></li>
                                    <li><a href="#">Consulting</a></li>
                                    <li><a href="#">Audit &amp; Financial advisory</a></li>
                                    <li><a href="#">Formation &amp; RH Management Advisory</a></li>
                                    <li><a href="#">Tax &amp; Legal</a></li>
                                </ul>
                            </li>
                            <li><a href="<%= contact_path %>">Nous contacter</a></li>
                            <% if user_signed_in? %>
                                <% if current_user.admin %>
                                <li><a href="<%= admin_formations_path %>"><%= fa_icon "user" %> Admin</a></li>
                                <% else %>
                                    <li><a href="<%= edit_user_registration_path %>"><%= fa_icon "user" %> Profil</a></li>
                                <% end %>
                                <li><%= link_to (fa_icon "power-off"), destroy_user_session_path, method: :delete %></li>
                            <% else %>
                                <li><a href="<%= new_user_session_path %>"><%= fa_icon "user" %> Login</a></li>
                            <% end %>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
