
<!-- Main Header-->
<header class="main-header">

    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container">
            <div class="clearfix">
                <div class="top-left">
                    <ul class="clearfix">
                        <li><a href="#">Téléchargements</a></li>
                        <li><a href="<%= new_carriere_path %>"> Carrieres</a></li>
                    </ul>
                </div>
                <div class="top-right clearfix">
                    <ul class="clearfix">
                        <li>
                            <div class="social-links">
                                <a href="https://www.facebook.com/NovitasConsulting" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                <a href="https://www.linkedin.com/company/novitasconsulting/" target="_blank"><span class="fa fa-linkedin"></span></a>
                                <a href="https://www.youtube.com/channel/UCHr7K71CAPdlzeCF2VwZ81Q" target="_blank"><span class="fa fa-youtube-square"></span></a>
                                <% if user_signed_in? %>
                                    <% if current_user.admin %>
                                        <a href="<%= edit_user_registration_path %>"><%= fa_icon "user" %> &nbsp; Profil</a>
                                        <a href="<%= admin_formations_path %>"><%= fa_icon "lock" %> &nbsp; Admin</a>
                                    <% else %>
                                        <a href="<%= edit_user_registration_path %>"><%= fa_icon "user" %> Profil</a>
                                    <% end %>
                                    <%= link_to (fa_icon "power-off"), destroy_user_session_path, method: :delete %>
                                <% else %>
                                    <a href="<%= new_user_session_path %>"><%= fa_icon "user" %> Login</a>
                                <% end %>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>



                               

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container clearfix">
                
                <div class="pull-left logo-outer">
                    <div class="logo"><a href="<%= root_path %>"><%= image_tag("logonovitas.png", alt: "logo") %></a></div>
                </div>
                
                <div class="pull-right upper-right clearfix">
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "mobile" %></span></div>
                        <ul>
                            <li><strong>Appelez-nous</strong>(+212)-660-639950</li>
                        </ul>
                    </div>
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "envelope-o" %> </span></div>
                        <ul>
                            <li><strong>Email</strong>contact@novitas.ma</li>
                        </ul>
                    </div>
                    
                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><%= fa_icon "clock-o" %></span></div>
                        <ul>
                            <li><strong>Horaire d'ouverture</strong>Lundi - Vendredi: 08:30 à 12:30h - 14:30 à 18:30</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Header Lower-->
    <div class="header-lower">
        
        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class=<%="current" if yield(:titre) == "accueil" %>><a href="<%= root_path %>">Accueil</a></li>
                            <li class="dropdown <%="current" if yield(:titre) == "about" %>"><a href="#">Nous connaître</a>
                                <ul>
                                    <li><a href="<%= apropos_path(p: "a-propos-de-nous") %>">À propos de nous</a></li>
                                    <li><a href="<%= apropos_path(p: "notre-equipe") %>">Notre équipe</a></li>
                                    <li><a href="<%= apropos_path(p: "nos-missions-et-visions") %>">Nos missions &amp; visions</a></li>
                                    <li><a href="<%= apropos_path(p: "nos-valeurs") %>">Nos valeurs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown <%="current" if yield(:titre) == "expertise" %>"><a href="#">Nos expertises et métiers</a>
                                <ul>
                                    <li><a href="<%= expertise_path(p: "nos-expertises-et-metiers") %>">Nos expertises et métiers</a></li>
                                    <li><a href="<%= expertise_path(p: "consulting") %>">Consulting</a></li>
                                    <li><a href="<%= expertise_path(p: "audit-financial") %>">Audit &amp; Financial advisory</a></li>
                                    <li><a href="<%= expertise_path(p: "formation-et-rh-management") %>">Formation &amp; RH Management Advisory</a></li>
                                    <li><a href="<%= expertise_path(p: "tax-legal") %>">Tax &amp; Legal</a></li>
                                </ul>
                            </li>
                            <li class=<%="current" if yield(:titre) == "formations" %>><a href="<%= formations_path %>">Nos Formation</a></li>
                               
                            
                            <li class=<%="current" if yield(:titre) == "articles" %>><a href="<%= articles_path %>">IN Focus</a></li>
                           
                            <li class=<%="current" if yield(:titre) == "contact" %>><a href="<%= contact_path %>">Nous contacter</a></li>
                        </ul>
                    </div>

                
                </nav>
                <!-- Main Menu End-->
                 <div class="outer-box">
                    <!--Search Box-->
                    <div class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                <li class="panel-outer">
                                    <div class="form-container">
                                         <%= form_tag formations_path, :method => 'get' do %>
                                            <div class="form-group">
                                                <% if params[:search].present? %>
                                                    <%= text_field_tag :search,nil, class:"input", value:"#{params[:search]}" %>
                                                <% else %>
                                                    <%= text_field_tag :search,nil, class:"input", placeholder:"Recherche ... " %>
                                                <% end %>
                                                <%= button_tag fa_icon "search ", class: "search-btn search-btn-Costum" %>
                                            </div>
                                        <% end %>
                                       
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!--End Header Lower-->
    
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="<%= root_path %>" class="img-responsive"><%= image_tag("logonovitas.png", alt: "logo") %></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                           <li class=<%="current" if yield(:titre) == "accueil" %>><a href="<%= root_path %>">Accueil</a></li>
                             <li class="dropdown <%="current" if yield(:titre) == "about" %>"><a href="#">Nous connaître</a>
                                <ul>
                                    <li><a href="<%= apropos_path(p: "a-propos-de-nous") %>">À propos de nous</a></li>
                                    <li><a href="<%= apropos_path(p: "notre-equipe") %>">Notre équipe</a></li>
                                    <li><a href="<%= apropos_path(p: "nos-missions-et-visions") %>">Nos missions &amp; visions</a></li>
                                    <li><a href="<%= apropos_path(p: "nos-valeurs") %>">Nos valeurs</a></li>
                                </ul>
                            </li>
                            <li class="dropdown <%="current" if yield(:titre) == "expertise" %>"><a href="#">Expertises et métiers</a>
                                <ul>
                                    <li><a href="<%= expertise_path %>">Nos expertises et métiers</a></li>
                                    <li><a href="<%= expertise_path(p: "consulting") %>">Consulting</a></li>
                                    <li><a href="<%= expertise_path(p: "audit-financial") %>">Audit &amp; Financial advisory</a></li>
                                    <li><a href="<%= expertise_path(p: "formation-et-rh-management") %>">Formation &amp; RH Management Advisory</a></li>
                                    <li><a href="<%= expertise_path(p: "tax-legal") %>">Tax &amp; Legal</a></li>
                                </ul>
                            </li>
                            <li class=<%="current" if yield(:titre) == "formations" %>><a href="<%= formations_path %>">Nos Formation</a></li>
                               
                            
                            <li class=<%="current" if yield(:titre) == "articles" %>><a href="<%= articles_path %>">IN Focus</a></li>
                           
                            <li class=<%="current" if yield(:titre) == "contact" %>><a href="<%= contact_path %>">Nous contacter</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
